<launch>


  <!-- Launch Gazebo  -->
  <include file="$(find final_robot_gazebo)/launch/final_robot_world.launch" />   

  <!-- ros_control seven dof arm launch file -->
  <include file="$(find final_robot_gazebo)/launch/final_robot_gazebo_states.launch" />   

  <!-- ros_control trajectory control dof arm launch file -->
  <include file="$(find final_robot_gazebo)/launch/final_robot_trajectory_controller.launch" />      

</launch>
